@using System.Activities.Statements
@inherits UmbracoViewPage<Rasolo.Core.Features.StartPage.StartPage>

<div class="home">
	<section class="hero">
		<div id="hero_background-container">
			<div class="hero-header">
				<h1>@Model.Title</h1>
			</div>
			@if (Model.ShowHeroImage)
			{
				<img src="@Model.HeroImage.DomainWithUrl" id="hero-img" data-hero-type="start-page" alt="@Model.HeroImage.AltText" />
				<noscript><img src="@Model.HeroImage.DomainWithUrl"></noscript>
			}
		</div>
	</section>
</div>

@if (Model.BlogPostPages != null && Model.BlogPostPages.Any())
{
	<div class="posts-container">
		<h2>Latest posts</h2>
		<div class="posts-container__posts">
			@{
				foreach (var blogPostPage in Model.BlogPostPages)
				{
					@Html.Partial("BlogPostTeaser", blogPostPage)
				}
			}
		</div>
		<div class="spacer"></div>
	</div>
}
