@using Microsoft.AspNetCore.Html
@model Rasolo.Web.Features.Shared.GlobalSettings.GlobalSettingsPageViewModel

<div>
	<a class="header__home" href="/" @StyleColor()>
		@Model.HomeText
	</a>
</div>


<div>
	<a class="header__search-url" href="@Model.SearchPageUrl" @(Model.CurrentPageIsStartPage ? StyleColor() : null)>
		<svg class="header__search-svg">
			<use xlink:href="/assets/img/icons/icons.svg#search-symbol"></use>
		</svg>
		<span class="header__search-text" @{
			StyleColor();
		}>
			Search
		</span>
	</a>
</div>



@{
	IHtmlContent StyleColor()
	{
		if (!string.IsNullOrEmpty(Model.HomeTextColor))
		{
			return @Html.Raw($"style='color:#{@Model.HomeTextColor}'");
		}

		return null;
	}
}
