@model Rasolo.Core.Features.Shared.Compositions.BaseContentPage
	<!doctype html>
	<html>
	<head>
		<title>@Model.PageAndSiteTitle</title>
		@Html.Partial("MetaData", Model)
		<link rel="stylesheet" href="/assets/css/main.css?ver=1.7.0" />
		<link rel="icon" href="~/favicon.ico" type="image/x-icon" />
		<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		@Html.Partial("GoogleTagManager")
	</head>

	<body>
		<nav>
			<div class="site__header">
				@Html.Action("Index", "GlobalSettingsPage")
			</div>
		</nav>
		<main class="main">
			@RenderBody()
		</main>
			@Html.Partial("Footer")
		@Html.Action("Index", "CookiesNotice")
		<script src="/assets/js/bundle.js"></script>
	</body>

</html>
