@inherits UmbracoViewPage<Rasolo.Core.Features.BlogPage.BlogPage>

<article class="posts__post">
	<a class="test" href="@Model.Url">
		@{
			if (string.IsNullOrEmpty(Model.Url))
			{
				<img src="/assets/img/teaser/bear.jpeg"/>
			}
			else
			{
				<img src="@Model.Url"/>
			}
		}
	</a>

	@Model.Parent.Name

	<a class="post__date" href="@Model.Url">
		<p>@Model.CreateDate.ToString("yyyy-MM-dd")</p>
		<h4>@Model.Title</h4>
	</a>

</article>