@using Umbraco.Extensions
@model Rasolo.Web.Features.BlogPostPage.BlogPostPage
	<!-- TODO: Refractor to use PostTeaser-->
<article class="posts__post">
	<a class="test" href="@Model.Url">
		@{
			if (string.IsNullOrEmpty(Model.TeaserUrl))
			{
				<img src="/assets/img/teaser/bear.jpeg" />
			}
			else
			{
				<img src="@Model.TeaserUrl" @if(Model.ShowTeaserMediaAltText){<text>alt="@Model.TeaserMediaAltText"</text>} />
			}
		}
	</a>
	<a class="post__category" href="@Model.Parent.Url()">@Model.Parent.Name</a>
	<a class="post__date" href="@Model.Url">
		<p >@Model.CreateDate.ToString("yyyy-MM-dd")</p>
		<h4>@Model.TeaserHeading</h4>
	</a>

</article>
