@model Rasolo.Web.Features.Shared.DocumentTypeInterfaces.ITeaserPage

<article class="posts__post">
		@{
			if (string.IsNullOrEmpty(Model.TeaserUrl))
			{
				<img src="/assets/img/teaser/bear.jpeg" />
			}
			else
			{
				<img src="@Model.TeaserUrl" />
			}
		}
	<a class="post__category" href="@Model.ParentUrl">@Model.ParentName</a>
	<a class="post__date" href="@Model.Url">
		<p >@Model.CreateDate.ToString("yyyy-MM-dd")</p>
		<h4>@Model.TeaserHeading</h4>
	</a>

</article>
